### Actionscript ###
# Build and Release Folders
bin/
bin-debug/
bin-release/
[Oo]bj/ # FlashDevelop obj
[Bb]in/ # FlashDevelop bin

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

### Windows ###
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk


# More mostly useless files
META-INF/
MobileSettings.xml
RECOVER_*/
*.swd

# Project specific
*.app
*.exe
v6_4_game.swf
v6_5_game.swf
loader_v0_5_1_unofficial.swf
cac_wrapper_AIR/cac_wrapper_AIR.p12
mods/maploader_alpha/map_uploads/
mods/maploader_alpha/map_uploader.php
mods/maploader_alpha/map_uploads_events.txt
